<div class="service-list">
  <h2><i class="pi pi-list"></i> Lista de Servicios</h2>

  <!-- Botón para crear un nuevo servicio -->
  <button pButton type="button" label="Crear Nuevo Servicio" icon="pi pi-plus" class="p-button-primary" (click)="crearServicio()"></button>

  <!-- Tabla de Servicios -->
  <p-table [value]="servicios" responsiveLayout="scroll" [paginator]="true" [rows]="5">
    <ng-template pTemplate="header">
      <tr>
        <th>Nombre</th>
        <th>ID Negocio</th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-servicio>
      <tr>
        <td>{{ servicio.nombre }}</td>
        <td>{{ servicio.negocioId }}</td>
        <td>
          <button pButton type="button" icon="pi pi-eye" class="p-button-text p-button-info" (click)="verServicio(servicio.id)" title="Ver"></button>
          <button pButton type="button" icon="pi pi-trash" class="p-button-text p-button-danger" (click)="eliminarServicio(servicio.id)" title="Eliminar"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
