<div class="business-list">
  <h2><i class="pi pi-building"></i> Lista de Negocios</h2>

  <div class="action-bar">
    <p-button label="Crear Nuevo Negocio" icon="pi pi-plus" class="p-button-primary" (click)="crearNegocio()"></p-button>
  </div>

  <p-card>
    <p-table [value]="negocios" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Dirección</th>
          <th>Contacto</th>
          <th>Coordenadas</th>
          <th>Acciones</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-negocio>
        <tr>
          <td>{{ negocio.id_negocio }}</td>
          <td>{{ negocio.nombre }}</td>
          <td>{{ negocio.direccion }}</td>
          <td>{{ negocio.contacto }}</td>
          <td>{{ negocio.coordenadas }}</td>
          <td class="action-buttons">
            <p-button icon="pi pi-eye" class="p-button-rounded p-button-info" (click)="verNegocio(negocio.id_negocio)" title="Ver"></p-button>
            <p-button icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="eliminarNegocio(negocio.id_negocio)" title="Eliminar"></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>

  <p-toast></p-toast>
  <p-confirmDialog></p-confirmDialog>
</div>
