<div class="service-info">
  <h2><i class="pi pi-cog"></i> Información del Servicio</h2>

  <p-card class="form-container">
    <ng-template pTemplate="content">
      <form [formGroup]="serviceForm" (ngSubmit)="guardarCambios()">
        <!-- Nombre del Servicio -->
        <div class="p-field">
          <label for="nombre">Nombre:</label>
          <input pInputText id="nombre" formControlName="nombre" placeholder="Ingrese el nombre del servicio"/>
        </div>

        <!-- Botones -->
        <div class="form-buttons">
          <button pButton type="submit" label="Guardar Cambios" icon="pi pi-check" class="p-button-success" [disabled]="serviceForm.invalid"></button>
          <button pButton type="button" label="Cancelar" icon="pi pi-times" class="p-button-secondary" (click)="cancelar()"></button>
        </div>
      </form>
    </ng-template>
  </p-card>
</div>
